/src/UI/*.aps
/src/UI/*.user
/src/capture/*.user
/src/graphics/direct3d11/shaderInclude
/.vs
/out
/src/test/*.user
/src/wasapi/*.user
/src/utils/*.user
/src/graphics/*.user
/src/media/*.user
/src/demo/*.user
